{erl_opts, [debug_info]}.
{deps, [
    {itc, {git, "https://github.com/nyirog/itc.git", {tag, "0.1.0"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [crdt]}
]}.

{plugins, [
    { fmt, ".*", {git, "https://github.com/kingwen0302/rebar3_plugin_fmt.git", {tag, "master"}}},
    rebar3_proper
]}.

{profiles,
    [{test, [
        {deps, [
            %% hex
            {proper, "1.3.0"}
        ]}
    ]}
]}.
